/* Nouvelles règles CSS : */

#listeLettre {
    text-align: center;
}

.pilote {
    display: inline-block;
    width: 7rem;
}

.pilote img {
    width: 5rem;
}

.fleft {
    float: left;
}

.infoPilote td {
    padding: 0.2rem;
    width: 15rem;
}

.tabpayscir img {
    width: 2rem;
}

.imgCircuit {
    max-width: 15rem;
}

.imagePilote > span {
    display: none;
}

.imagePilote:hover > span {
    display:block;
}

select {
    height: 2.1rem !important;
}

.centrer {
    margin-left: auto;
    margin-right: auto;
}

#gestion {
    text-align: center;
}

#gestion > h1{
    margin: 0;
}

#gestion > a {
    margin-bottom: 1rem;
}

table th {
    text-align: center;
    cursor: pointer;
}

.tempsResultat {
    width: 3rem;   
}

.imgError {
    width: 10rem;
}

#rendu {
    margin: 2rem auto;
}

#chargementZone {
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
}
