/* Nouvelles règles CSS : */

#lastResult {
    border: solid #d7d7d7 1px;
    border-radius: 2px;
    padding: 0rem 0.8rem;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px 0px #656565;
}

#listeLettre {
    text-align: center;
}

.pilote {
    display: inline-block;
    width: 8rem;
}

.pilote img {
    width: 5rem;
}

.fleft {
    float: left;
}

.infoPilote td {
    padding: 0.2rem;
    width: 15rem;
}

.tabpayscir img {
    width: 2rem;
}

.tabpayscir {
    text-align: left;
}

.imgCircuit {
    max-width: 15rem;
}

.imagePilote {
    position: relative;
}

.imagePilote span img {
    float: left;
}

.imagePilote span {
    display: none;
}

.imagePilote:hover span {
    background-color: white;
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:auto;
    border:1px solid #a7a7a7;
    margin-top:12px;
    margin-left:32px;
    overflow:hidden;
    padding:8px;
}

.centrer {
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: center;
}

.justify {
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.displayInlineBlock {
    display: inline-block;
}

.resultat {
    text-align: center;
}
#informationCircuit {
    text-align: left;
}

.infoPilote {
    text-align: left;
}

#listeSponsors {
    text-align: left;
}

#detailEcurie {
    text-align:left;
}

#detailEcurie > tbody > tr > :first-child {
    width: 10rem;
}

#detailPiloteEcurie {
    text-align: left;
}

.tabpayscir tr td a img {
    vertical-align: middle;
}

#photoProfilPilote {
    max-width: 20rem;
}

#photoProfilEcurie {
    max-width: 10rem;
}
