body {
    font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
    background-image:-webkit-linear-gradient(#9f0909, #4e0000);
    background-image:-o-linear-gradient(#9f0909, #4e0000);
    background-image:linear-gradient(#9f0909, #4e0000);
    background-size: 1rem 200rem;
    font-size:0.8em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}
.monBody #container {
    width: 900px;
    margin: 0 auto;
    /*    text-align: left;*/
    background:#ffffff;
}
.monBody #header {
    height:300px;
}
.monBody #menu {
    height:22px;
    color:#ffffff;
    font-size:1.4em;
    background:#000000;
}
.monBody #contenu {
    padding:20px;
    overflow: auto;
}
.monBody #footer {
    padding: 0 10px;
    font-size:0.8em;
    text-align:center;
    height:150px;
    background:url(/image/footer.jpg) no-repeat;
}
#menu a	{
    color:#ffffff;
    text-decoration:none;
}
#menu {
    text-align: center;
}
#LogoNode {
    max-height: 20%;
    max-width: 20%;
}

.tabpayscir  {
    float:right;
    padding:1rem;
    border-left:0.3rem solid #3f51b5;
    border-collapse: inherit;
    margin:2rem;
}


.myboth  {
    clear:both;
}
a  {
    text-decoration:none;
    color:#0072ff;
}