<table class="tabpayscir">
    {{#each circuit}}
    <tr>
        <td>
            <a href="/circuits/{{this.CIRNUM}}">
                <img src="/image/pays/{{this.PAYADRDRAP}}" alt="Drapeau du pays" />
                {{this.CIRNOM}}
            </a>
        </td></tr>
    {{/each}}
</table>