<table class="tabpayscir">
    {{#each listeEcurie}}
    <tr>
        <td>
            <a href="/detailEcurie/{{this.ecunum}}">
                <img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" />
                {{this.ecunom}}
            </a>
        </td></tr>
    {{/each}}
</table>