<div id="lastResult">
    <h2>Derniers résultats</h2>
    <p class="bold">Grand Prix de l'IUT du {{formatDate grandprix.gpdate 'DD/MM/YYYY'}}</p>
    <p>Mis à jour le {{formatDate grandprix.gpdatemaj 'DD/MM/YYYY'}}</p>
    <a href="/detailResultat/{{grandprix.gpnum}}">Voir les résultats</a>
</div>
