<h1>Liste des circuits enregistrés</h1>

{{> listeCircuitPays}}

{{#if details}}
    <a href="/image/circuit/{{details.CIRADRESSEIMAGE}}" data-lightbox="circuit">
        <img class="imgCircuit" src="/image/circuit/{{details.CIRADRESSEIMAGE}}" alt="Image du circuit">
    </a>
    <div id="informationCircuit">
        <p><strong>Nom : </strong>{{details.CIRNOM}}</p>
        <p><strong>Longueur : </strong>{{details.CIRLONGUEUR}} mètres</p>
        <p><strong>Nombre de spectateurs : </strong>{{details.CIRNBSPECTATEURS}}</p>
        <p><strong>Pays : </strong>{{details.PAYNOM}}</p>
        <p class="justify">{{details.CIRTEXT}}</p>
    </div>
{{else}}
    <br class="myboth" />
{{/if}}