{{> listeEcuriePays}}


{{#if ecurie}}
        <a href="/image/ecurie/{{ecurie.ECUADRESSEIMAGE}}" data-lightbox="ecurie">
            <img id="photoProfilEcurie" src="/image/ecurie/{{ecurie.ECUADRESSEIMAGE}}" alt="Image de l'écurie">
        </a>
       <table id="detailEcurie">
           <tbody>
               <tr>
                   <td class="bold">Nom : </td>
                   <td>{{ecurie.ECUNOM}}</td>
               </tr>
               <tr>
                   <td class="bold">Directeur : </td>
                   <td>{{ecurie.ECUNOMDIR}}</td>
               </tr>
               <tr>
                   <td class="bold">Adresse : </td>
                   <td>{{ecurie.ECUADRSIEGE}}</td>
               </tr>
               <tr>
                   <td class="bold">Pays : </td>
                   <td>{{ecurie.PAYNOM}}</td>
               </tr>
               <tr>
                   <td class="bold">Fournisseur de pneu : </td>
                   <td>{{pneu.FPNOM}}</td>
               </tr>
               
               <tr>
                   <td class="bold">Sponsor(s) : </td>
                   {{#if sponsor}}
                        <td>
                        {{#each sponsor}}
                            {{this.SPONOM}} ({{this.SPOSECTACTIVITE}}) |
                        {{/each}}
                        </td>
                   {{else}}
                        <td>Aucun</td>
                   {{/if}}
               </tr>
           </tbody>
       </table>

   <div id="detailPiloteEcurie">
       
    {{#if listePilote}}
       <p><strong>Pilotes : </strong></p>
        <div>
            {{#each listePilote}}
               <p>
                <a class="imagePilote" href="/repertoirePilote/pilote/{{this.PILNUM}}">
                   &nbsp;&nbsp;&nbsp;&nbsp;- {{this.PILPRENOM}} {{this.PILNOM}}
                    <span><img src="/image/pilote/{{this.PHOADRESSE}}" alt=""></span>
               </a>
               </p>
            {{/each}}
        </div>
    {{else}}
        <p>Cette écurie ne participe pas au championnat cette année</p>
    {{/if}}

    {{#each listeVoiture}}
       <div class="displayInlineBlock">
            <img style="max-height: 7rem;" src="/image/ecurie/voiture/{{this.VOIADRESSEIMAGE}}" alt="Image de voiture">
            <p>{{this.TYPELIBELLE}}</p>
            <p>{{this.VOINOM}}</p>
       </div>
    {{/each}}
   </div>
{{else}}
    <br class="myboth" />
{{/if}}