<h1>Liste des résulats</h1>

<table class="tabpayscir">
    {{#each listeResultat}}
        <tr>
            <td>
                <a href="/detailResultat/{{this.GPNUM}}">
                    <img src="/image/pays/{{this.PAYADRDRAP}}" alt="Drapeau du pays"> 
                    {{this.GPNOM}}
                </a>
            </td>
        </tr>
    {{/each}}
</table>

{{#if grandPrix}}

<p>{{grandPrix.GPNOM}} ({{formatDate grandPrix.GPDATE 'DD/MM/YYYY'}})</p>
{{#if detailResultat}}
<table class="centrer resultat pure-table pure-table-aligned">
    <thead>
        <tr>
            <th>Place</th>
            <th>Pilote</th>
            <th>Temps</th>
            <th>Nombre de points</th>
        </tr>
    </thead>
    <tbody>
       {{#each detailResultat}}
        <tr>
            <td>{{inc @index}}</td>
            <td><a href="/repertoirePilote/pilote/{{this.PILNUM}}">{{this.PILNOM}} {{this.PILPRENOM}}</a></td>
            <td>{{this.TEMPSCOURSE}}</td>
            <td>{{this.PILPOINTS}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p class="justify">{{grandPrix.GPCOMMENTAIRE}}</p>
{{else}}
<p>Pas de résultats pour le moment !</p>
{{/if}}
{{else}}
    <br class="myboth" />
{{/if}}