<div id="listeLettre">
    <p>Cliquez sur une lettre
        {{#each lettre}}
        <a href="{{this.lettre}}"> {{this.lettre}}</a>
        {{/each}}
    </p>
</div>

{{#each listePilote}}
<div class="pilote">
    <p>
        <a href="/repertoirePilote/pilote/{{this.PILNUM}}">
            <img src="/image/pilote/{{this.PHOADRESSE}}" alt="{{this.PILNOM}}">
            <p>{{this.PILPRENOM}} {{this.PILNOM}}</p>
        </a>
    </p>
</div>
{{/each}}