<div id="listeLettre">
    <p>Cliquez sur une lettre
    {{#each lettre}}
        <a href="/repertoirePilote/{{this.lettre}}"> {{this.lettre}}</a>
    {{/each}}
</p>
</div>

<img id="photoProfilPilote" class="fleft" src="/image/pilote/{{photoID.PHOADRESSE}}" alt="{{photoID.PHOSUJET}}">

<table class="infoPilote">
   <tbody>
       <tr>
           <td><strong>Nom : </strong>{{pilote.PILNOM}} {{pilote.PILPRENOM}}</td>
           <td></td>
       </tr>
       <tr>
           <td><strong>Date de naissance : </strong>{{formatDate pilote.PILDATENAIS 'DD/MM/YYYY'}}</td>
           <td><strong>Poids : </strong>{{pilote.PILPOIDS}} Kg</td>
       </tr>
       <tr>
           <td><strong>Nationalité : </strong>{{pilote.PAYNAT}}</td>
           <td><strong>Taille : </strong>{{pilote.PILTAILLE}} cm</td>
       </tr>
       <tr>
           
        {{#if ecurie}}
            <td><strong>Ecurie : </strong>{{ecurie.ECUNOM}}</td>
        {{else}}
            <td><strong>Ecurie : </strong>Pas d'écurie cette année</td>
        {{/if}}
        <td></td>
       </tr>
   </tbody>
</table>

<div id="listeSponsors">
    {{#if sponsor}}
        <p><strong>Principaux sponsors :</strong></p>
        {{#each sponsor}}
            <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;- {{this.SPONOM}}</strong> ({{this.SPOSECTACTIVITE}})</p>
        {{/each}}
    {{/if}}
</div>

<p class="justify"><strong>Qui suis-je ? </strong>{{pilote.PILTEXTE}}</p>    

{{#each photos}}
    <a href="/image/pilote/{{this.PHOADRESSE}}" data-lightbox="listePhoto" data-title="{{this.PHOSUJET}} - {{this.PHOCOMMENTAIRE}}">
        <img style="max-height: 7rem;" src="/image/pilote/{{this.PHOADRESSE}}" alt="{{this.PHOCOMMENTAIRE}}">
    </a>
{{/each}}
