<!DOCTYPE html>
<html lang="fr">

    <head>
        <title> {{title}}</title>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/png" href="/image/icon.png">

        <link rel="stylesheet" href="/css/structure.css">
        <link rel="stylesheet" href="/css/administration.css">
        <link rel="stylesheet" href="/css/lightbox.css">
        <link rel="stylesheet" href="/css/pure.css">
        <link rel="stylesheet" href="/css/toastr.css">
        <script src="/js/jquery.js"></script>
        <script src="/js/toastr.js"></script>

    </head>

    <body class="monBody">
        <div id="container">
            <div id="header">
                <img src="/image/header.jpg" alt="WROOM l'encyclopédie de la F1" />
            </div>
            <div id="menu">
                <a href="/login">Se connecter</a> |
                <a href="/pilote">PILOTE</a> |
                <a href="/circuits">CIRCUITS</a> |
                <a href="/ecuries">ECURIES</a> |
                <a href="/resultats">RESULTATS</a> |
                <a href="/sponsors">SPONSORS</a> |
                <a href="http://localhost:6900">Retour au site (localhost)</a>
            </div>
            <div id="contenu">
                <br/>
                <br/>
                {{{body}}}
            </div>
            <div id="footer">
                L'encyclopédie de la F1 depuis janvier 2016 (en NodeJS) - Administration
                <br />
                © IUT du Limousin DUT Informatique année 2
                <br />
                <img src="/image/nodejs.png" id= "LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
            </div>

        </div>

        <script src="/js/lightbox.js"></script>
        <script src="/js/sorttable.js"></script>
    </body>
</html>
