<h1>Ajouter des photos pour {{pilote.PILPRENOM}} {{pilote.PILNOM}}</h1>

<form class="pure-form pure-form-aligned" action="" method="post" enctype="multipart/form-data">
    <fieldset>


        <div class="pure-control-group">
            <label for="">Photo : </label>
            <input type='file' id="imageUpload" name="image">
            <img class="centrer" id="rendu" style="display: none;" src="#" alt="Nouvelle image" />
        </div>

        <div id="chargementZone">
            <p id="valeur"></p>
        </div>
       
        <div class="pure-control-group">
            <label for="sujet">Sujet de la photo : </label>
            <input type="text" name="sujet">
        </div>

        <div class="pure-control-group">
            <label for="commentaire">Commentaire de la photo : </label>
            <textarea name="commentaire" id="" cols="30" rows="10"></textarea>
        </div>


        <input id="validerPage" class="pure-button pure-button-primary" type="submit" value="Ajouter">
    </fieldset>
</form>



<script src="/js/jquery.js"></script>
<script src="/js/progressbar.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/photo.js"></script>
<script>
    $(document).ready(function() {
        $("#imageUpload").change(function() {
            readURL(this);
        });
        
        var line = new ProgressBar.Line('#chargementZone', {
            color: '#FCB03C'
        });

        $("#chargementZone").css("display", "none");
        var socket = io.connect();

        $("#validerPage").click(function() {
            $("#chargementZone").css("display", "block");
        });

        $(function() {
            socket.on('chargement', function(pourcentage) {
                $(window).on('beforeunload', function(){
                    socket.close();
                });    
                line.animate(pourcentage);
                $("#valeur").text((pourcentage * 100).toFixed(2) + "%");
            });
        });
    });
</script>