<div id="gestion">
    <img src="/image/cat_circuit.png" alt="Catégorie circuit">
    <h1>Gestion des circuits</h1>
    <a href="circuits/ajouterCircuit"><img src="/image/act_add.png" alt="Ajouter un circuit"> Ajouter un circuit</a>
</div>

{{#if circuits}}
<table class="pure-table pure-table-bordered centrer sortable">
    <thead>
        <th>Nom</th>
        <th>Longueur</th>
        <th>Nombre de spéctateurs</th>
        <th>Actions</th>
    </thead>

    <tbody>
        {{#each circuits}}
        <tr>
            <td>{{this.CIRNOM}}</td>
            <td>{{this.CIRLONGUEUR}}</td>
            <td>{{this.CIRNBSPECTATEURS}}</td>
            <td>
                <a href="circuits/modifierCircuit/{{this.CIRNUM}}"><img src="/image/act_edit.png" alt="Modifier un circuit"> Modifier </a>
                <a href="circuits/supprimerCircuit/{{this.CIRNUM}}"><img src="/image/act_delete.png" alt="Supprimer un circuit"> Supprimer</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<h2>Aucun circuit pour le moment.</h2>
{{/if}}


{{#ifCond updateSuccess '==' true}}
<script src="/js/toastrSuccess.js"></script>
<script>
    $(document).ready(function() {
        displayToastr("Modification terminée", "La modification s'est terminée avec succès");
    });
</script>
{{/ifCond}}


{{#ifCond insertSuccess '==' true}}
<script src="/js/toastrSuccess.js"></script>
<script>
    $(document).ready(function() {
        displayToastr("Ajout terminée", "L'ajout s'est terminée avec succès");
    });
</script>
{{/ifCond}}


{{#ifCond supprSuccess '==' true}}
<script src="/js/toastrSuccess.js"></script>
<script>
    $(document).ready(function() {
        displayToastr("Suppression terminée", "La suppression a bien été effectuée");
    });
</script>
{{/ifCond}}