<div id="gestion">
    <img src="/image/cat_ecurie.png" alt="Catégorie écurie">
    <h1>Gestion des écuries</h1>
    <a href="ecuries/ajouterEcurie"><img src="/image/act_add.png" alt="Ajouter une écurie"> Ajouter une écurie</a>
</div>

{{#if ecurie}}
<table class="pure-table pure-table-bordered centrer sortable">
    <thead>
        <th>Nom</th>
        <th>Directeur</th>
        <th>Points</th>
        <th>Actions</th>
    </thead>

    <tbody>
        {{#each ecurie}}
        <tr>
            <td>{{this.ECUNOM}}</td>
            <td>{{this.ECUNOMDIR}}</td>
            <td>{{this.ECUPOINTS}}</td>
            <td>
                <a href="ecuries/modifierEcurie/{{this.ECUNUM}}"><img src="/image/act_edit.png" alt="Modifier une écurie"> Modifier </a>
                <a href="ecuries/supprimerEcurie/{{this.ECUNUM}}"><img src="/image/act_delete.png" alt="Supprimer une écurie"> Supprimer</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
    <h2>Aucune écurie pour le moment.</h2>
{{/if}}


{{#ifCond updateSuccess '==' true}}
<script src="/js/toastrSuccess.js"></script>
<script>
    $(document).ready(function() {
        displayToastr("Modification terminée", "La modification s'est terminée avec succès");
    });
</script>
{{/ifCond}}


{{#ifCond insertSuccess '==' true}}
<script src="/js/toastrSuccess.js"></script>
<script>
    $(document).ready(function() {
        displayToastr("Ajout terminée", "L'ajout s'est terminée avec succès");
    });
</script>
{{/ifCond}}


{{#ifCond supprSuccess '==' true}}
<script src="/js/toastrSuccess.js"></script>
<script>
    $(document).ready(function() {
        displayToastr("Suppression terminée", "La suppression a bien été effectuée");
    });
</script>
{{/ifCond}}