<div id="gestion">
    <img src="/image/cat_sponsor.png" alt="Catégorie sponsors">
    <h1>Gestion des sponsors</h1>
    <a href="sponsors/ajouterSponsor"><img src="/image/act_add.png" alt="Ajouter un sponsor"> Ajouter un sponsor</a>
</div>

{{#if sponsors}}
<table class="pure-table pure-table-bordered centrer sortable">
    <thead>
        <th>Nom</th>
        <th>Activité</th>
        <th>Actions</th>
    </thead>

    <tbody>
        {{#each sponsors}}
        <tr>
            <td>{{this.SPONOM}}</td>
            <td>{{this.SPOSECTACTIVITE}}</td>
            <td>
                <a href="sponsors/modifierSponsor/{{this.SPONUM}}"><img src="/image/act_edit.png" alt="Modifier un sponsor"> Modifier </a>
                <a href="sponsors/supprimerSponsor/{{this.SPONUM}}"><img src="/image/act_delete.png" alt="Supprimer un sponsor"> Supprimer</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
    <h2>Aucun sponsor pour le moment.</h2>
{{/if}}


{{#ifCond updateSuccess '==' true}}
<script src="/js/toastrSuccess.js"></script>
<script>
    $(document).ready(function() {
        displayToastr("Modification terminée", "La modification s'est terminée avec succès");
    });
</script>
{{/ifCond}}


{{#ifCond insertSuccess '==' true}}
<script src="/js/toastrSuccess.js"></script>
<script>
    $(document).ready(function() {
        displayToastr("Ajout terminée", "L'ajout s'est terminée avec succès");
    });
</script>
{{/ifCond}}


{{#ifCond supprSuccess '==' true}}
<script src="/js/toastrSuccess.js"></script>
<script>
    $(document).ready(function() {
        displayToastr("Suppression terminée", "La suppression a bien été effectuée");
    });
</script>
{{/ifCond}}
