<div id="gestion">
    <img src="/image/cat_pilote.png" alt="Catégorie pilote">
    <h1>Gestion des pilotes</h1>
    <a href="pilote/ajouterPilote"><img src="/image/act_add.png" alt="Ajouter un pilote"> Ajouter un pilote</a>
</div>

{{#if pilotes}}
<table class="pure-table pure-table-bordered centrer sortable">
    <thead>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Actions</th>
    </thead>

    <tbody>
        {{#each pilotes}}
        <tr>
            <td>{{this.PILNOM}}</td>
            <td>{{this.PILPRENOM}}</td>
            <td>{{formatDate this.PILDATENAIS "DD/MM/YYYY"}}</td>
            <td>
                <a href="pilote/modifierPilote/{{this.PILNUM}}"><img src="/image/act_edit.png" alt="Modifier un pilote"> Modifier </a>
                <a href="pilote/supprimerPilote/{{this.PILNUM}}"><img src="/image/act_delete.png" alt="Supprimer un pilote"> Supprimer</a>
                <a href="pilote/ajouterPhoto/{{this.PILNUM}}"><img src="/image/act_add.png" alt="">Ajouter une photo</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
    <h2>Aucun pilote pour le moment.</h2>
{{/if}}

{{#ifCond updateSuccess '==' true}}
<script src="/js/toastrSuccess.js"></script>
<script>
    $(document).ready(function() {
        displayToastr("Modification terminée", "La modification s'est terminée avec succès");
    });
</script>
{{/ifCond}}


{{#ifCond insertSuccess '==' true}}
<script src="/js/toastrSuccess.js"></script>
<script>
    $(document).ready(function() {
        displayToastr("Ajout terminée", "L'ajout s'est terminée avec succès");
    });
</script>
{{/ifCond}}


{{#ifCond supprSuccess '==' true}}
<script src="/js/toastrSuccess.js"></script>
<script>
    $(document).ready(function() {
        displayToastr("Suppression terminée", "La suppression a bien été effectuée");
    });
</script>
{{/ifCond}}
