<div id="gestion">
    <img src="/image/cat_resultat.png" alt="Catégorie résultat">
    <h1>Résultats</h1>
    
    {{#if listeResultat}}
    <p>Sélectionner un grand prix :</p>

    <form action="resultats/saisie" method="post">
        <select name="grandPrix" id="">
            {{#each listeResultat}}
            <option value="{{this.GPNUM}}">{{this.GPNOM}}</option>
            {{/each}}
        </select>
        
        <input class="pure-button pure-button-primary" type="submit" value="Valider">
    </form>
    {{else}}
        <h2>Aucun grand prix pour le moment.</h2>
    {{/if}}
</div>
