<h1>Saisie des résultats</h1>

<table class="centrer pure-table pure-table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Place</th>
            <th>Pilote</th>
            <th>Temps</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {{#each resultats}}
        <tr>
            <td><a href="/resultats/saisie/supprimerResultat/{{this.PILNUM}}"><img src="/image/act_delete.png" alt=""></a></td>
            <td>{{inc @index}}</td>
            <td>{{this.PILNOM}}</td>
            <td>{{this.TEMPSCOURSE}}</td>
            <td>{{rangPoint ../points @index}}</td>
        </tr>
        {{/each}}
        {{#ifCond nbPilote '<' 10}}
        <tr>
            <form action="/resultats/saisie/ajouterResultat" method="post">

                <td></td>
                <td>{{inc nbPilote}}</td>
                <td><select name="pilote" id="">
                        {{#each pilotes}}
                            <option value="{{this.PILNUM}}">{{this.PILNOM}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <label for="heures"></label>
                    <input required="required" class="tempsResultat" name="heures" type="number" min="0">
                    <label for="minutes"></label>
                    <input required="required" class="tempsResultat" name="minutes" type="number" min="0" max="59">
                    <label for="secondes"></label>
                    <input required="required" class="tempsResultat" name="secondes" type="number" min="0" max="59">
                </td>
                <td><input class="pure-button pure-button-primary" type="submit" value="Ok"></td>
            </form>
        </tr>
        {{/ifCond}}
    </tbody>
</table>