<h1>Administration</h1>

{{#if estConnecte}}
    <form action="/seDeconnecter">
        <h2>Vous êtes connecté(e) !</h2>
        
        <input class="pure-button pure-button-primary" type="submit" value="Se deconnecter">
    </form>
{{else}}
    {{#if estVerifie}}
    {{else}}
    <form class="pure-form pure-form-aligned" method="post" action="/login">
        <div class="pure-control-group">
            <label for="login">Login : </label>
            <input id="login" type="text" name="login" placeholder="Login">    
        </div>
        <div class="pure-control-group">
            <label for="pwd">Mot de passe : </label>
            <input id="pwd" type="password" name="pwd" placeholder="Mot de passe">
        </div>

        <input class="pure-button pure-button-primary" type="submit" value="Connexion">
    </form>
        {{#if tentative}}
            <p>Raté !</p>
        {{/if}}
    {{/if}}
{{/if}}