<form class="pure-form pure-form-aligned" action="" method="post">
    <div class="pure-control-group">
        <label for="nom">Nom</label>
        <input type="text" name="nom" required="required" value="{{sponsor.SPONOM}}">
    </div>

    <div class="pure-control-group">
        <label for="secteur">Secteur d'activité</label>
        <input type="text" name="secteur" required="required" value="{{sponsor.SPOSECTACTIVITE}}">
    </div>

    <div class="pure-control-group">
        <label for="ecurie">Ecurie sponsorisée</label>
        <select name="ecurie" id="">
                   <option value="0">Aucune</option>
            {{#each ecurie}}
                {{#ifCond this.ECUNUM '==' ../sponsor.ECUNUM}}
                    <option value="{{this.ECUNUM}}" selected="selected">{{this.ECUNOM}}</option>
                {{else}}
                    <option value="{{this.ECUNUM}}">{{this.ECUNOM}}</option>
                {{/ifCond}}
            {{/each}}
        </select>
    </div>

    <div class="pure-controls">
        <input value="Valider" type="submit" class="pure-button pure-button-primary">
        <input value="Vider les champs" type="reset" class="pure-button">
        <a href="/sponsors">
            <input value="Annuler" href="/login" type="button" class="pure-button">
        </a>
    </div>
</form>