<form class="pure-form pure-form-aligned" action="" method="post" enctype="multipart/form-data">
    <div class="pure-control-group">
        <label for="nom">Nom</label>
        <input type="text" name="nom" required="required" value="{{ecurie.ECUNOM}}">
    </div>

    <div class="pure-control-group">
        <label for="directeur">Directeur</label>
        <input type="text" name="directeur" required="required" value="{{ecurie.ECUNOMDIR}}">
    </div>

    <div class="pure-control-group">
        <label for="adresse">Adresse du siège</label>
        <input type="text" name="adresse" required="required" value="{{ecurie.ECUADRSIEGE}}">
    </div>

    <div class="pure-control-group">
        <label for="points">Points</label>
        <input type="text" name="points" placeholder="0 pts" required="required" value="{{ecurie.ECUPOINTS}}">
    </div>

    <div class="pure-control-group">
        <label for="pays">Pays</label>
        <select name="pays" id="">
            {{#each pays}}
                {{#ifCond this.PAYNUM '==' ../ecurie.PAYNUM}}
                    <option value="{{this.PAYNUM}}" selected="selected">{{this.PAYNOM}}</option>
                {{else}}
                    <option value="{{this.PAYNUM}}">{{this.PAYNOM}}</option>
                {{/ifCond}}
            {{/each}}
        </select>
    </div>

    <div class="pure-control-group">
        <label for="pneu">Fournisseur de pneu</label>
        <select name="pneu" id="">
            {{#each pneu}}
                {{#ifCond this.FPNUM '==' ../ecurie.FPNUM}}
                    <option value="{{this.FPNUM}}" selected="selected">{{this.FPNOM}}</option>
                {{else}}
                    <option value="{{this.FPNUM}}">{{this.FPNOM}}</option>
                {{/ifCond}}
            {{/each}}
        </select>
    </div>

   {{#if ecurie.ECUNOM}}
   {{else}}
    <div class="pure-control-group">
        <label for="image">Image</label>
        <input id="imageUpload" type="file" name="image" accept="image/*" required="required">
        <img class="centrer" id="rendu" style="display: none;" src="#" alt="Nouvelle image" />
    </div>
    
    <div id="chargementZone">
        <p id="valeur"></p>
    </div>
    {{/if}}
  
   
    <div class="pure-controls">
        <input id="validerPage" ="Valider" type="submit" class="pure-button pure-button-primary">
        <input value="Vider les champs" type="reset" class="pure-button">
        <a href="/ecuries">
            <input value="Annuler" href="/login" type="button" class="pure-button">
        </a>
    </div>
</form>




<script src="/js/jquery.js"></script>
<script src="/js/progressbar.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/photo.js"></script>


<script>
$( document ).ready(function() {
    $("#imageUpload").change(function() {
            readURL(this);
    });
    
    var line = new ProgressBar.Line('#chargementZone', {
        color: '#FCB03C'
    });
    
    $("#chargementZone").css("display", "none");
    var socket = io.connect();
    
    $("#validerPage").click(function() {
        $("#chargementZone").css("display", "block");
    });
    
    $(function() {
        socket.on('chargement', function(pourcentage) {
            $(window).on('beforeunload', function(){
                socket.close();
            });    
            line.animate(pourcentage);
            $("#valeur").text((pourcentage * 100).toFixed(2) + "%");
        });
    });
});
</script>