<form class="pure-form pure-form-aligned" action="" method="post" enctype="multipart/form-data">
    <div class="pure-control-group">
        <label for="nom">Nom</label>
        <input type="text" name="nom" required="required" value="{{circuit.CIRNOM}}">
    </div>

    <div class="pure-control-group">
        <label for="longueur">Longueur</label>
        <input type="number" name="longueur" placeholder="2500m" required="required" value="{{circuit.CIRLONGUEUR}}">
    </div>

    <div class="pure-control-group">
        <label for="pays">Pays</label>
        <select name="pays" id="">
            {{#each pays}}
                {{#ifCond this.PAYNUM '==' ../circuit.PAYNUM}}
                    <option value="{{this.PAYNUM}}" selected="selected">{{this.PAYNOM}}</option>
                {{else}}
                    <option value="{{this.PAYNUM}}">{{this.PAYNOM}}</option>
                {{/ifCond}}
            {{/each}}
        </select>
    </div>

    {{#if circuit.CIRNOM}}
    {{else}}
        <div class="pure-control-group">
            <label for="image">Image</label>
            <input id="imageUpload" type="file" name="image" accept="image/*" required="required">
            <img class="centrer" id="rendu" style="display: none;" src="#" alt="Nouvelle image" />

        </div>    
        <div id="chargementZone">
            <p id="valeur"></p>
        </div>
    {{/if}}

    <div class="pure-control-group">
        <label for="nbSpectateur">Nombre de spectateurs</label>
        <input type="number" name="nbSpectateur" placeholder="2300 personnes" value="{{circuit.CIRNBSPECTATEURS}}" min="1" required="required">
    </div>

    <div class="pure-control-group">
        <label for="desc">Description</label>
        <textarea name="desc" id="" cols="60" rows="5" required="required">{{circuit.CIRTEXT}}</textarea>
    </div>

    <div class="pure-controls">
        <input id="validerPage" value="Valider" type="submit" class="pure-button pure-button-primary">
        <input value="Vider les champs" type="reset" class="pure-button">
        <a href="/circuits">
            <input value="Annuler" href="/login" type="button" class="pure-button">
        </a>
    </div>
</form>


<script src="/js/jquery.js"></script>
<script src="/js/progressbar.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/photo.js"></script>


<script>
$( document ).ready(function() {
    $("#imageUpload").change(function() {
            readURL(this);
    });
    
    var line = new ProgressBar.Line('#chargementZone', {
        color: '#FCB03C'
    });
    
    $("#chargementZone").css("display", "none");
    var socket = io.connect();
    
    $("#validerPage").click(function() {
        $("#chargementZone").css("display", "block");
    });
    
    $(function() {
        socket.on('chargement', function(pourcentage) {
            $(window).on('beforeunload', function(){
                socket.close();
            });    
            line.animate(pourcentage);
            $("#valeur").text((pourcentage * 100).toFixed(2) + "%");
        });
    });
});
</script>