<form class="pure-form pure-form-aligned" action="" method="post" enctype="multipart/form-data">
    <div class="pure-control-group">
        <label for="prenom">Prénom</label>
        <input type="text" name="prenom" required="required" value="{{pilote.PILPRENOM}}">
    </div>

    <div class="pure-control-group">
        <label for="nom">Nom</label>
        <input type="text" name="nom" required="required" value="{{pilote.PILNOM}}">
    </div>
    
    {{#if pilote.PILNOM}}
    {{else}}
    <div class="pure-control-group">
        <label for="image">Image de profil</label>
        <input id="imageUpload" type="file" name="image" accept="image/*" required="required">
        <img class="centrer" id="rendu" style="display: none;" src="#" alt="Nouvelle image" />
    </div>
       
    <div id="chargementZone">
        <p id="valeur"></p>
    </div>
        
    <div class="pure-control-group">
        <label for="sujetImage">Sujet de l'image</label>
        <input required="required" type="text" name="sujetImage">
    </div>
    
    <div class="pure-control-group">
        <label for="commentaireImage">Commentaire de l'image</label>
        <input required="required" type="text" name="commentaireImage">    
    </div>
    {{/if}}
    

    <div class="pure-control-group">
        <label for="datenaiss">Date de naissance</label>
        <select name="dateNaissJour" id="">
            {{#for 1 32 1}}
                {{#ifCond this '==' ../dateNaiss.jour}}
                    <option value="{{this}}" selected="selected">{{this}}</option>
                {{else}}
                    <option value="{{this}}">{{this}}</option>
                {{/ifCond}}
            {{/for}}
        </select>
        <select name="dateNaissMois" id="">
            {{#for 1 13 1}}
                {{#ifCond this '==' ../dateNaiss.mois}}
                    <option value="{{this}}" selected="selected">{{this}}</option>
                {{else}}
                    <option value="{{this}}">{{this}}</option>
                {{/ifCond}}    
            {{/for}}
        </select>
        <select name="dateNaissAnnee" id="">
            {{#for 1920 2017 1}}
                {{#ifCond this '==' ../dateNaiss.annee}}
                    <option value="{{this}}" selected="selected">{{this}}</option>
                {{else}}
                    <option value="{{this}}">{{this}}</option>
                {{/ifCond}}    
            {{/for}}
        </select>
    </div>

    <div class="pure-control-group">
       <label for="nationalite">Nationalité</label>
        <select name="nationalite">
            {{#each nationalite}}
                <option value="{{this.PAYNUM}}">{{this.PAYNAT}}</option>
            {{/each}}
        </select>
    </div>

    <div class="pure-control-group">
        <label for="ecurie">Ecurie</label>
        <select name="ecurie" id="">
            {{#each ecurie}}
                <option value="{{this.ECUNUM}}">{{this.ECUNOM}}</option>
            {{/each}}
        </select>
    </div>

    <div class="pure-control-group">
        <label for="points">Points</label>
        <input type="text" name="points" placeholder="0 pts" value="{{pilote.PILPOINTS}}">
    </div>

    <div class="pure-control-group">
        <label for="poids">Poids</label>
        <input type="number" name="poids" placeholder="75 Kg" min="30" required="required" value="{{pilote.PILPOIDS}}">
    </div>

    <div class="pure-control-group">
        <label for="taille">Taille</label>
        <input type="number" name="taille" placeholder="180 cm" required="required" value="{{pilote.PILTAILLE}}">
    </div>
   
    <div class="pure-control-group">
        <label for="desc">Description</label>
        <textarea name="desc" id="" cols="60" rows="5" required="required">{{pilote.PILTEXTE}}</textarea>
    </div>

    <div class="pure-controls">
        <input id="validerPage" value="Valider" type="submit" class="pure-button pure-button-primary">
        <input value="Vider les champs" type="reset" class="pure-button">
        <a href="/pilote">
            <input value="Annuler" href="/login" type="button" class="pure-button">
        </a>
    </div>
</form>


<script src="/js/jquery.js"></script>
<script src="/js/progressbar.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/photo.js"></script>


<script>
$( document ).ready(function() {
    $("#imageUpload").change(function() {
            readURL(this);
    });
    
    var line = new ProgressBar.Line('#chargementZone', {
        color: '#FCB03C'
    });
    
    $("#chargementZone").css("display", "none");
    var socket = io.connect();
    
    $("#validerPage").click(function() {
        $("#chargementZone").css("display", "block");
    });
    
    $(function() {
        socket.on('chargement', function(pourcentage) {
            $(window).on('beforeunload', function(){
                socket.close();
            });    
            line.animate(pourcentage);
            $("#valeur").text((pourcentage * 100).toFixed(2) + "%");
        });
    });
});
</script>